<!DOCTYPE html>
<html>
<head>
    <title>Top Ten Afrobeats Artists</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">
                <i class="fas fa-music"></i>
                AfroBeatStats
            </a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-4">
        <h2 class="mb-4">Top Ten Afrobeats Artists</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Artist</th>
                    <th scope="col">Popularity</th>
                </tr>
            </thead>
            <tbody>
                {% for artist in artists %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td><img src="{{ artist.image_url }}" alt="{{ artist.name }}" class="img-fluid" style="width: 50px; height: 50px;"> {{ artist.name }}</td>
                    <td>{{ artist.popularity }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <span class="text-muted">&copy; 2023 Olamide Olanrewaju</span>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
